.applogo {
  /* height: 40vmin; */
  pointer-events: none;
  margin-left: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .applogo {
    animation: applogo-spin infinite 5s linear;
  }
}

@keyframes applogo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
